body {
  background-color: #FFF5E4;
  }
  
  nav{
  background-color: #FFE3E1;
  display: flex;
  justify-content: center;
  padding: 15px;
  }
  .link{
  padding: 10px 40px;
  text-decoration: none;
  color: #874356;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  }
  
  .products {
  display: flex;
  flex-wrap: wrap;
  }
  
  .product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  }
.card{
    background-color: #3C2317;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    transition: all .4s ease;
}
.card:hover{
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    transform: scale(1.07);
}

.imgBG{
  width: 100%;
  height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: cover;
  background-repeat: no-repeat;
}
  
  .cont {
  display: flex;
  justify-content: center;
  }
  
  .back {
  color: #874356;
  font-size: 3rem;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Great Vibes', cursive;
  }
  
  .change {
  background-color: #FFE3E1;
  border-radius: 35px;
  border: 0.7px solid #874356;
  color: #874356;
  margin-top: -10px;
  padding: 10px;
  font-family: 'Great Vibes', cursive;
  }
  h1{
    font-family: 'Great Vibes', cursive;
    color: #874356;
    font-size: 3rem;
  }
  
  h4 {
  font-family: 'Montserrat', sans-serif;
  color: #874356;
  text-align: center;
  }
  h5{
    color: #874356;
    font-family: 'Montserrat', sans-serif;
    margin-top: -20px;
  }
  h3{
    font-family: 'Great Vibes', cursive;
    color: #874356;
    font-size: 25px;
    text-align: center;
  }
.btn{
  border: none;
  background-color: #FFF5E4;
  color: #874356;
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
}

  .slideBtn{
    background-color: #FFE3E1;
    color: #874356;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .bg-text{
    color: #874356;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
  }
  .bg-text-paragraph{
    background-color: rgb(73, 51, 51);
    background-color: rgba(46, 43, 43, 0.307);
    color: #FFE3E1;
    font-weight: bold;
    border: none;
    border-radius: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  p{
  width: 60%;
  color: #874356;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  }

  .center{
  color: #3C2317;
  display: flex;
  justify-content: center;
  
  }
  @media all and (max-width: 800px){
    .slideImg{
      width: 300px;
      height: 150px;
    }
    
    .link{
      font-size: 8px;
      }
 
    .slideBtn{
      padding: 2px;
      font-size: 10px;
      }

    h1{
      font-size: 20px;
      }

    p{
      width: 65%;
      font-size: 12px;
      }

    .change {
      font-size: 8px;
      padding: 7px;
      font-family: 'Great Vibes', cursive;
      }

    .back {
      font-size: 1rem;
      }

    img {
      width: 300px;
      height: 400px;
      }
      .card{
        margin-left: 6%;
      }

    h3, h4{
      font-size: 18px;
      }
    
    h5{
      color: #874356;
      font-family: 'Montserrat', sans-serif;
      margin-top: -7px;
      font-size: 10px;
      }

    .bg-text-paragraph{
        top: 70%;
        font-size: 0.9rem;
      }
    

  }